---
import { getJsonCV } from "@/utils";

const { education } = getJsonCV();
---

<section>
	<h2>Education</h2>
	{
		education.map(({ institution, date, area }: any) => (
			<>
				<div class="flex justify-between items-start flex-col-reverse sm:flex-row sm:items-center">
					<h3>
						<strong class="opacity-60 text-sm me-2">
							{institution.abbreviation}
						</strong>
						{institution.name}
					</h3>
					<time class="text-gray-400 text-xs">
						{`${date.start} - ${date.end}`}
					</time>
				</div>
				<p>{area}</p>
			</>
		))
	}
</section>
