---
import { ui } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof ui);

const { experience } = t("resume") as any;
---

<section>
	<div class="flex">
		<h1>{t("section.experience")}</h1>
		<small class="ms-4 text-[10px] pt-1 h-fit w-fit">
			<strong>(</strong>
			<em class="px-1">{t("section.experience.justLastFiveJobs")}</em>
			<strong>)</strong>
		</small>
	</div>
	{
		experience.map(
			({ rol, company, mode, summary, date, stack }: any, index: any) => {
				return (
					<div class="flex flex-col mb-8 border-b border-gray-100 pb-3">
						<div class="flex justify-between">
							<time class="text-gray-400 text-xs">
								{date.start} - {date.end ?? "Current"}
							</time>
							<small class="text-[10px]">
								{`${mode.time} / ${mode.type}`}
							</small>
						</div>
						<h2 class="text-xl font-semibold opacity-80">
							{company}
						</h2>
						<h3 class="opacity-70">{rol}</h3>
						<p class="p-2 my-2 bg-gray-100/50 dark:bg-slate-800 ">
							{summary}
						</p>
						<div class="flex gap-1 justify-start items-center flex-wrap">
							{stack.map((stackTech: string) => (
								<div class="text-[10px] font-bold py-1 px-2 dark:text-white/50">
									{stackTech}
								</div>
							))}
						</div>
					</div>
				);
			}
		)
	}
</section>
