---
import Email from "@/icons/Email.astro";
import Github from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import MapPin from "@/icons/MapPin.astro";
import WhatsApp from "@/icons/WhatsApp.astro";
import type { IconsProfilesType } from "@/types";
import { getJsonCV } from "@/utils";

const { basics } = getJsonCV();
const { name, label, photo, email, phone, location, profiles } = basics;
const ICONS_PROFILES: IconsProfilesType = {
	LinkedIn,
	Github,
};
---

<section class="flex gap-2 flex-col-reverse sm:flex-row">
	<div class="mt-6 sm:m-0">
		<h1>{name}</h1>
		<p class="text-pretty pe-1">{label}</p>
		<small class="flex gap-2 my-2 items-center opacity-75">
			<a href={location.googleMaps} target="_blank" class="flex gap-1">
				<MapPin class="size-4" />
				{location?.city}, <strong>{location.country}</strong></a
			>
		</small>
		<div class="flex items-center gap-2 my-2">
			<a
				href=`https://wa.me/${phone.replace(/\D/g, "")}`
				target="_blank"
				title="Send me a message on WhatsApp"
				class="p-2 border border-solid border-gray-200 rounded-md"
			>
				<WhatsApp class="size-4" />
			</a>
			<a
				href=`mailto:${email}`
				target="_blank"
				title="Send me an email"
				class="p-2 border border-solid border-gray-200 rounded-md"
			>
				<Email class="size-4" />
			</a>
			{
				profiles &&
					profiles.map((profile) => {
						const Icon = ICONS_PROFILES[profile.network];
						return (
							<a
								href={profile.url}
								target="_blank"
								title={`Connect with me on ${profile.network}`}
								class="p-2 border border-solid border-gray-200 rounded-md"
							>
								<Icon class="size-4" />
							</a>
						);
					})
			}
		</div>
	</div>
	<figure
		class="relative flex shrink-0 overflow-hidden rounded-xl sm:size-32 size-6/12 m-auto sm:m-0"
	>
		<img src={photo} alt={name} class="aspect-square h-full w-full" />
		<!-- <figcaption>+16</figcaption> -->
	</figure>
</section>
