---
import Email from "@/icons/Email.astro";
import Github from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import WhatsApp from "@/icons/WhatsApp.astro";
import type { IconsProfilesType } from "@/types";
import { basics } from "@cv";

const { name, photo, email, profiles, phone } = basics;
const ICONS_PROFILES: IconsProfilesType = {
	LinkedIn,
	Github,
};
---

<section
	class="tools footer animate-appear-bottom
	fixed left-0 bottom-0 flex flex-col w-full h-fit mb-0 pb-8 pt-3 px-9
	bg-gradient-to-t from-white to-transparent dark:from-gray-900 dark:to-transparent"
>
	<div class="flex justify-between items-center 2xl:px-8">
		<div class="flex flex-col items-start justify-start">
			<h1 class="m-0 text-xs tracking-widest">{name}</h1>
			<small class="opacity-50 text-xs">Senior Software Developer</small>
		</div>
		<div class="tools-photo">
			<div>
				<div></div>
				<img src={photo} class="size-12 sm:size-14" />
				<figcaption
					class="text-[9px] text-center text-gray-400 sm:text-sm"
				>
					+16 exp
				</figcaption>
			</div>
		</div>
	</div>
	<div
		class="absolute left-0 bottom-5 m-auto w-full flex justify-center items-center"
	>
		<a
			href=`https://wa.me/${phone.replace(/\D/g, "")}`
			target="_blank"
			title="Send me a message on WhatsApp"
			class="p-1"
		>
			<WhatsApp class="size-3 sm:size-4" />
		</a>
		<a
			href=`mailto:${email}`
			target="_blank"
			title="Send me an email"
			class="p-1"
		>
			<Email class="size-4 sm:size-4" />
		</a>
		{
			profiles &&
				profiles.map((profile) => {
					const Icon = ICONS_PROFILES[profile.network];
					return (
						<a
							href={profile.url}
							target="_blank"
							title={`Connect with me on ${profile.network}`}
							class="p-1"
						>
							<Icon class="size-3  sm:size-4" />
						</a>
					);
				})
		}
	</div>
</section>

<style lang="scss">
	.tools {
		view-timeline-name: --subjectReveal;
		animation-timeline: --subjectReveal;
	}

	.footer {
		position: fixed;
		z-index: 99999;
		bottom: 0;
		display: none;
		width: 100%;
		font-size: 12px;
		font-family: Arial, sans-serif;
		font-weight: normal;
	}

	.show {
		display: block;
	}
</style>

<script>
	window.addEventListener("scroll", function (event) {
		function footer(this: any) {
			var scroll = document.documentElement.scrollTop;
			var footerNav = document.querySelector(".footer") as HTMLElement;
			if (scroll > 50) {
				if (footerNav) {
					footerNav.style.display = "block";
					footerNav.classList.add("show");
				}
			} else {
				if (footerNav) {
					footerNav.style.display = "none";
					footerNav.classList.remove("show");
				}
			}

			// clearTimeout(this.scrollTimer);
			// this.scrollTimer = setTimeout(function () {
			// 	if (footerNav && !footerNav.matches(":hover")) {
			// 		const footerNav = document.querySelector(
			// 			".footer"
			// 		) as HTMLElement;
			// 		footerNav.style.display = "none";
			// 	}
			// }, 2000);
		}
		footer();
	});
</script>
