---
import Email from "@/icons/Email.astro";
import Github from "@/icons/Github.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import WhatsApp from "@/icons/WhatsApp.astro";
import type { IconsProfilesType } from "@/types";
import { basics } from "@cv";

const { name, photo, email, profiles, phone } = basics;
const ICONS_PROFILES: IconsProfilesType = {
	LinkedIn,
	Github,
};
---

<!-- 
	sm:animate-[appearSM_0.001s_both]
	animation-IOS 
	animate-[appear_0.001s_both]
-->
<section
	class="tools fixed left-0 bottom-0 flex flex-col w-full h-fit mb-0 pb-8 pt-3 px-9"
>
	<div class="flex justify-between items-center 2xl:px-8">
		<div class="flex flex-col items-start justify-start">
			<h1 class="m-0 text-xs">{name}</h1>
			<small class="text-gray-400">Senior Software Developer</small>
		</div>
		<div class="tools-photo">
			<div>
				<div></div>
				<img src={photo} class="size-12 sm:size-14" />
				<figcaption
					class="text-[9px] text-center text-gray-400 sm:text-sm"
				>
					+16 exp
				</figcaption>
			</div>
		</div>
	</div>
	<div class="absolute left-0 bottom-5 m-auto w-full flex justify-center">
		<a
			href=`https://wa.me/${phone.replace(/\D/g, "")}`
			target="_blank"
			title="Send me a message on WhatsApp"
			class="p-1"
		>
			<WhatsApp class="size-3 sm:size-4" />
		</a>
		<a
			href=`mailto:${email}`
			target="_blank"
			title="Send me an email"
			class="p-1"
		>
			<Email class="size-3 sm:size-4" />
		</a>
		{
			profiles &&
				profiles.map((profile) => {
					const Icon = ICONS_PROFILES[profile.network];
					return (
						<a
							href={profile.url}
							target="_blank"
							title={`Connect with me on ${profile.network}`}
							class="p-1"
						>
							<Icon class="size-3  sm:size-4" />
						</a>
					);
				})
		}
	</div>
</section>

<style lang="scss">
	.tools {
		background: linear-gradient(
			to top,
			rgb(255, 255, 255),
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.25),
			rgba(255, 255, 255, 0.1)
		);

		view-timeline-name: --subjectReveal;
		animation-timeline: --subjectReveal;

		animation-name: appear;
		animation-fill-mode: both;
		animation-duration: 1ms;

		-webkit-animation-name: appear;
		-webkit-animation-fill-mode: both;
		-webkit-animation-duration: 1ms;

		-moz-animation-name: appear;
		-moz-animation-fill-mode: both;
		-moz-animation-duration: 1ms;

		-ms-animation-name: appear;
		-ms-animation-fill-mode: both;
		-ms-animation-duration: 1ms;

		-o-animation-name: appear;
		-o-animation-fill-mode: both;
		-o-animation-duration: 1ms;

		// view-timeline-name: --revealing;
		// view-timeline-axis: block;
		// animation: linear 0.3s appear;
		// animation-timeline: --revealing;
		// animation-range: entry 100% cover 10%;
	}

	@keyframes appear {
		0% {
			opacity: 0;
			bottom: -200px;
		}

		100% {
			opacity: 1;
			bottom: 0;
		}
	}
</style>
